@use "src/styles/mixin.scss";
@use "src/styles/popup.scss";

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}


.login-page {
  height: max(var(--chromium-popup-height), 100vh);
	width: var(--popup-width);
  padding: 16px;
  scrollbar-width: none;
  align-items: center;
  justify-content: center;
}


body {
  // FIXME: use 350px seems not working.
  width: 1200px; 
  ::selection {
    @apply bg-content-blue-100;
  }

  @apply bg-bg-body text-text-title;

}


.icon {
  font-family: 'Apple Color Emoji', 'Noto Color Emoji', 'Segoe UI Emoji', 'Twemoji Mozilla', sans-serif;
}
