// src/styles/settings.scss

.settings {
  display: flex;
  height: 100vh;

  // Style for the Sidebar
  .sidebar {
    width: 250px; // Adjust the width as needed
    background-color: #f4f4f4; // Example background color

    .menu {
      padding: 6px;

      .menu-item {
        padding: 6px;
        transition: background-color 0.3s;

        &:hover {
          background-color: lightgray;
        }

        &.active {
          background-color: lightgray;
        }
      }
    }
  }

  // Style for the SettingsContent
  .settings-content {
    flex-grow: 1; // Take up the remaining space
    padding: 20px; // Example padding
    background-color: #fff; // Example background color
  }
}